:root{
	--light-clr: hsla(27, 70%, 75%, 100%);
	--dark-clr: hsla(27, 80%, 50%, 90%);
	--primary-clr: hsla(30, 100%, 98%, 100%);
	--shadow-clr: #888;
	--text-clr: #222;
	--product-clr: hsla(30, 100%, 95%, 100%);
	--side-closeBtn-clr: none;
	--translate-sideMenu: translateX(-100%);
	--side-clr: hsla(0, 0%, 80%, 60%);
	--side-text-clr: #222;
	--side-clr: hsla(0, 0%, 20%, 75%);
	--side-text-clr: #eee;
}

.darkMode {
	--primary-clr: hsla(30, 10%, 15%, 100%);
	--light-clr: hsla(27, 70%, 20%, 100%);
	--shadow-clr: #111;
	--text-clr: #f4f4f4;
	--product-clr: hsla(30, 10%, 18%, 100%);
}
